<div *ngIf="isPopupOpened()" #popupContainer>
    <div class="back"></div>
    <div class="popupScrollCenteredVertical">
        <div class="popupContainer">
            <div class="widthControlContainer">
                <div class="widthControl oneColumn">
                    <div #popup class="popup column material">
                        <div class="close">
                            <app-button [class]="'icon'" (click)="closePopup()" >
                                <div class=" iconButton alignCenter">
                                    <mat-icon>close</mat-icon>
                                </div>
                            </app-button>
                        </div>
                        <ng-content></ng-content>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>