.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--main-color) var(--noise);
    z-index: 2;
}

.logo {
    margin: 1em;
    height: 2.5em;
    flex-shrink: 0;
}

.button {
    padding: 1em;
}

svg {
    fill: var(--main-contrast-color);
}
.burger{
    padding: 1em;
    display: none;
}
.burgerMenu{
    display: none;
}

.notBurger{
    display: flex;
}
@media (max-width: 800px){
    .burger{
        display: flex;
    }
    .notBurger{
        display: none;
    }
}
.opened{
    display: flex;
}