<div class="card border row">
    <div class="text column spaceBetween">
        <div class="firstHalf column">

            <h2 *ngIf="headerLevel == 2">{{header}}</h2>
            <h3 *ngIf="headerLevel == 3">{{header}}</h3>
            <h4 *ngIf="headerLevel == 4">{{header}}</h4>

            <p>{{text}}</p>
        </div>
        <div class="row spaceBetween">
            <b>{{number}}</b>
            <span class="button">{{button}}</span>
        </div>
    </div>
    <div class="image border" *ngIf="imagePath">
        <img src="{{imagePath}}">
    </div>
</div>