<div class="menu material">
    <div #menuFirstRow>
        <div class="row spaceBetween shadow">
            <svg class="logo" viewBox="0 0 300 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 50C0 22.3858 22.3858 0 50 0C77.6142 0 100 22.3858 100 50V100H50C22.3858 100 0 77.6142 0 50Z"
                    fill="#4F378B" />
                <path
                    d="M100 50C100 22.3858 122.386 0 150 0C177.614 0 200 22.3858 200 50C200 77.6142 177.614 100 150 100H100V50Z"
                    fill="#6750A4" />
                <path
                    d="M200 180C200 151.997 200 137.996 205.45 127.3C210.243 117.892 217.892 110.243 227.3 105.45C237.996 100 251.997 100 280 100H300V200H200V180Z"
                    fill="#6750A4" />
                <path
                    d="M100 100H120C148.003 100 162.004 100 172.7 105.45C182.108 110.243 189.757 117.892 194.55 127.3C200 137.996 200 151.997 200 180V200H100V100Z"
                    fill="#4F378B" />
                <path
                    d="M0 180C0 151.997 0 137.996 5.44967 127.3C10.2433 117.892 17.8924 110.243 27.3005 105.45C37.9961 100 51.9974 100 80 100H100V200H0V180Z"
                    fill="#381E72" />
            </svg>
            <div class="row alignCenter">
                <div class="notBurger row alignCenter">
                    <app-button *ngFor="let block of blocks" (click)="scrollTo(block.element)">{{block.title}}
                    </app-button>
                </div>

                <div class="iconButton burger alignCenter" (click)="toggleBurgerMenu()">
                    <mat-icon>menu</mat-icon>
                </div>

            </div>

        </div>
    </div>
    <div class="shadow">
            <div class="burgerMenu column" [ngClass]="{'opened': menuIsOpened}">
                <app-button *ngFor="let block of blocks" (click)="scrollTo(block.element)">{{block.title}}</app-button>
            </div>
    </div>
</div>