<div class="image border">
    <div class="imageContainer">
        <img *ngIf="media.type === 'image' && media.url" src="{{media.url}}">
        <img *ngIf="media.type === 'image' && !media.url" src="../../../assets/noImage.png">
    </div>

    <div class="videoContainer" [ngStyle]="{'padding-bottom': aspectRatio }">
        <iframe *ngIf="media.type === 'video'" [src]="safeEmbededUrl" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>

<div class="content column">





    <div class="text column">
        <div class="header">
            <h2>{{header}}</h2>
        </div>
        <p>{{text}}</p>
    </div>

</div>