.content {
    padding: 2em;
}

app-image {
    max-height: 70vh;
    max-width: 100%;
    width: 100%;
}

.h2 {
    margin-bottom: 1.5em;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    border-radius: 1em 1em 0 0;
}

app-image {
    border-radius: 1em 1em 0 0;
}

@media (max-width: 640px) {
    .imageContainer {
        border-radius: 0;
    }

    app-image {
        border-radius: 0;
    }
}