<div class="card border material" (click)="showPopup()">



    <app-image *ngIf="media.type === 'image'" [imagePath]="media.url" [cover]="true"></app-image>
    <app-image *ngIf="media.type === 'video'" [imagePath]="'https://www.prismamarket.ru/upload/iblock/0a3/2000669800001.jpg'" [cover]="true"></app-image>



    <div class="column spaceBetween textAndButton">
        <div class="text">
            <h4>{{header}}</h4>
            <p>{{text}}</p>
        </div>
        <app-button [class]="'accent'">Подробнее</app-button>
    </div>
</div>