.card {
    gap: 2em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.textAndButton{
    gap: 2.5em;
}
.text {
    width: 14em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


app-image {
    flex-shrink: 0;
    width: 14em;
    height: 14em;
}

@media(max-width: 700px) {
    .card {
        flex-direction: column;
    }
}