.card {
    display: flex;
    flex-direction: column;

    cursor: pointer;
}



.text {
    display: flex;
    flex-direction: column;
    padding: 0 1em;

}

.h2 {
    margin-bottom: 1em;
}

h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.imageContainer {
    flex-shrink: 0;

    width: 100%;
    padding-top: 50%;
    border-radius: 3em;
    position: relative;
    margin-bottom: 2em;

    transition: 0.2s ease-in-out;
}

app-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
}

.card:hover .imageContainer {
    border-radius: 1em;
}