<div class="widthControlContainer border menuMargin">
    <div class="widthControl">
        
        <div class="grid menuMargin">

            <div class="text">
                <div class="caption"><span>{{about.content.companyName}}</span></div>
                <div class="header">
                    <h1>{{about.content.header}}</h1>
                </div>
                <div class="chips">
                    <div class="chip" *ngFor="let chip of about.content.chips">
                        <div class="alignCenter">
                            <mat-icon>{{chip.icon}}</mat-icon>
                        </div>
                        <span>{{chip.text}}</span>
                    </div>
                </div>
            </div>



            <div class="imageContainer">
                <img src="{{about.content.image}}">
            </div>

        </div>
    </div>
</div>