::ng-deep .tabsNav.swiper {
    display: flex;
    justify-content: center;
}

::ng-deep .tabsNav .swiper-slide {
    width: fit-content !important;
    text-align: center;
    padding: 12px 16px;

    white-space: nowrap
}

::ng-deep .selected {
    background: var(--accent-color) var(--noise);
}