.noImageContainer{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #7F67BE;
    border-radius: inherit;
}
svg {
    margin: 2em;
    max-height: 9em;
}