.menuMargin {
    margin-top: 4.5em;
}

.header {
    position: relative;
    padding: 2em;
    padding-top: 7em;
    gap: 2em;
    width: 100%;
}

.graphics {
    padding: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
}

svg {
    fill: var(--main-contrast-color);
}

.codeHorizontal {
    display: none;
    height: 2em;
}
.codeVertical{
    width: 2em;
}
.graphicsAndHeader {
    display: flex;
    flex-direction: row;
}

@media(max-width: 960px) {
    .header{
        padding-top: 1em;
    }
    .graphicsAndHeader {
        flex-direction: column;
    }

    .graphics {
        flex-direction: row-reverse;
    }

    .codeVertical {
        display: none;
    }

    .codeHorizontal {
        display: block;
    }
    .numberAndGraphic{
        display: none;
    }
}