<div #swiperContainer class="swiperContainer border">
    <swiper [config]="config" class="cardsSlider">

        <ng-template swiperSlide *ngFor="let card of cards; index as i">
            <app-card [orientation]="'horizontal'" [headerLevel]="3" [number]="i+1 +'/' + cards.length" [text]="card.description"
                [imagePath]="'https://thumbs.dfs.ivi.ru/storage33/contents/6/1/bbccd24d74017cf7d048853fa2bfbd.jpg'">
            </app-card>
        </ng-template>

    </swiper>
    <div class="controls row">
        <span (click)="toLeft()">←</span>
        <span (click)="toRight()">→</span>
    </div>
</div>