.back{
    background: #000000B0;
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
.popupContainer{
    z-index: 4;
    position: fixed;
    width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    overflow:auto;

}
.popup{
    background: var(--main-color) var(--noise);
    width:100%;
    padding: 2em;
    gap: 2em;
    margin: 4.5em 0;
}
app-image {
/* сделать обрезку картинки опциональной */
}
.text{
    gap: 1em;
}