.button {
    cursor: pointer;
    display: block;

    color: var(--main-contrast-color);
    padding: 1em;
}

.icon{
    padding: 0.65em;
    border-radius: 50%;
    background: var(--main-color-transparent);
}
