@font-face {
    font-family: NueMachina;
    src: url("assets/neueMachina/NeueMachina-Light.otf") format("opentype");
    font-weight: light;
}

@font-face {
    font-family: NueMachina;
    src: url("assets/neueMachina/NeueMachina-Regular.otf") format("opentype");
    font-weight: regular;
}

@font-face {
    font-family: NueMachina;
    src: url("assets/neueMachina/NeueMachina-Ultrabold.otf") format("opentype");
    font-weight: bold;
}

:root {
    --main-color: #2C2C2C;
    --main-color-transparent: #2c2c2cb0;

    --main-low-contrast-color: #0000001a;
    --main-medium-contrast-color: #00000033;
    --main-contrast-color: #ffffffcc;

    --accent-color: #005f73;
    --accent-coplementary-color: #9b2226;

    --accent-color-transparent: #005f7380;
    --accent-coplementary-color-transparent: #9b222680;

    --noise: url(./assets/blackNoise5.png);

    /* duotone */
    --base: var(--accent-coplementary-color);
    --bg-blend: multiply;
    --fg-blend: lighten;
    --foreground: #013641;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    /*menu backdrop blu fix*/
    height: 0;
    background: var(--main-color);
}

body {
    font-family: 'NueMachina';
    color: var(--main-contrast-color);
    font-size: clamp(12px, 10.6667px + 0.5556vw, 16px);
}

h1 {
    font-size: clamp(27px, 9.3333px + 7.3611vw, 80px);
}

h2 {
    font-size: clamp(16px, 10.6667px + 2.2222vw, 32px);
}

h3 {
    font-size: clamp(16px, 10.6667px + 2.2222vw, 32px);
    font-weight: 200;
}

h4 {
    font-size: clamp(12px, 10.6667px + 0.5556vw, 16px);
}

.material{
    background: var(--main-color-transparent) var(--noise);
    backdrop-filter: blur(4em);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse !important;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}
.alignItemsEnd{
    display: flex;
    align-items: flex-end;
}
.justifyContentEnd {
    display: flex;
    justify-content: flex-end;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.border {
    box-shadow: 0px 0px 0px 0.5px var(--main-medium-contrast-color), 0px 0px 0px 0.5px var(--main-medium-contrast-color) inset;
}



.widthControlContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.widthControl {
    width: 100%;
    max-width: 960px;
    padding: 0 1em;
}
@media (max-width: 800px){
    .widthControl {
        padding: 0;
    }
}

.adaptiveParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.adaptiveChild {
    flex: 1;
    min-width: 18em;
}

.adaptiveParentReverse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

mat-icon{
    height: auto;
    width: auto;
    font-size: 2.25em;
}
.iconButton{
    cursor: pointer;
}