@font-face {
    font-family: NueMachina;
    src: url("assets/neueMachina/NeueMachina-Light.otf") format("opentype");
    font-weight: light;
}
@font-face {
    font-family: NueMachina;
    src: url("assets/neueMachina/NeueMachina-Regular.otf") format("opentype");
    font-weight: regular;
}
@font-face {
    font-family: NueMachina;
    src: url("assets/neueMachina/NeueMachina-Ultrabold.otf") format("opentype");
    font-weight: bold;
}

:root {
    --main-color: #E2E2E2;
    
    --main-medium-contrast-color: #252525;
    --main-contrast-color: #000000;
    --main-low-contrast-color: #25252540;

    --accent-color: #CE9496;
    --accent-coplementary-color: #9972A0;

    --accent-color-transparent: #CE949680;
    --accent-coplementary-color-transparent: #9972A080;

    --noise: url(./assets/blackNoise.png);

    /* duotone */
    --base: var(--accent-color);
    --bg-blend: multiply;
    --fg-blend: lighten;
    --foreground: #4d005a;
    /* complimentary-dark */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
body{
    font-family: 'NueMachina';
    color: var(--main-contrast-color);
    font-size: clamp(12px, 10.6667px + 0.5556vw, 16px);
}

h1 {
    font-size: clamp(27px, 9.3333px + 7.3611vw, 80px);
}

h2 {
    font-size: clamp(16px, 10.6667px + 2.2222vw, 32px);
}

h3 {
    font-size: clamp(16px, 10.6667px + 2.2222vw, 32px);
    font-weight: 200;
}
h4{
    font-size: clamp(12px, 10.6667px + 0.5556vw, 16px);
}



.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse !important;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.flexEnd {
    display: flex;
    align-items: flex-end;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.border {
    box-shadow: 0px 0px 0px 0.5px var(--main-medium-contrast-color), 0px 0px 0px 0.5px var(--main-medium-contrast-color) inset;
}

.button {
    cursor: pointer;
}

.button::after {
    content: " →";
}

.widthControlContainer {
    display: flex;
    justify-content: center;
}

.widthControl {
    width: 100%;
    max-width: 960px;
    padding: 0 16px;
}
.paragraphWidthControl {
    min-width: 200px;
}
.captionhWidthControl {
    min-width: 100px;
}

.heightControl {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 128px 0;
}

.adaptiveParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.adaptiveChild {
    flex: 1;
}

.adaptiveParentReverse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}