@font-face {
    font-family: NueMachina;
    src: url("assets/neueMachina/NeueMachina-Light.otf") format("opentype");
    font-weight: light;
}

@font-face {
    font-family: NueMachina;
    src: url("assets/neueMachina/NeueMachina-Regular.otf") format("opentype");
    font-weight: regular;
}

@font-face {
    font-family: NueMachina;
    src: url("assets/neueMachina/NeueMachina-Ultrabold.otf") format("opentype");
    font-weight: bold;
}

:root {
    --main-color: #2C2C2C;
    --main-color-transparent: #2c2c2cb0;

    --main-low-contrast-color: #0000001a;
    --main-medium-contrast-color: #00000033;
    --main-contrast-color: #ffffffcc;
    --main-contrast-color-transparent: #ffffff80;

    --accent-color: #106EBE;
    --accent-coplementary-color: #be1075;

    --accent-color-transparent: #106EBE80;
    --accent-coplementary-color-transparent: #be107580;

    --noise: url(./assets/blackNoise5.png);

    /* duotone */
    --base: var(--accent-color);
    --bg-blend: multiply;
    --fg-blend: lighten;
    --foreground: #460029;


    --shadow: 0px 4px 8px 0px #00000033;/*33*/
    --light: inset 0 1.5px 0 0 #ffffff33; /*33*/
    --glow: 0px 4px 16px 0px #106EBE80;
    --hover-outline: 0 0 0 4px #106EBE40;
    --focus-outline: 0 0 0 4px #106EBE80;

    --main-lighten-transparent-color: #3a3a3a;

    --border-radius: 0.5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    /*menu backdrop blu fix*/
    height: 0;
    background: var(--main-color);
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--main-contrast-color-transparent);
    font-size: clamp(12px, 10.6667px + 0.5556vw, 16px);
}

h1, h2, h3, h4 {

    font-family: 'NueMachina';
    color: var(--main-contrast-color);
}

h1 {
    font-size: clamp(27px, 9.3333px + 7.3611vw, 80px);
}

h2 {
    font-size: clamp(16px, 10.6667px + 2.2222vw, 32px);
}

h3 {
    font-size: clamp(16px, 10.6667px + 2.2222vw, 32px);
    font-weight: 200;
}

h4 {
    font-size: clamp(12px, 10.6667px + 0.5556vw, 16px);
}

.material {
    background: var(--main-color-transparent) var(--noise);
    backdrop-filter: blur(4em);




}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse !important;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.alignItemsEnd {
    display: flex;
    align-items: flex-end;
}

.justifyContentEnd {
    display: flex;
    justify-content: flex-end;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.border {
    box-shadow: 0px 0px 0px 0.5px var(--main-medium-contrast-color), 0px 0px 0px 0.5px var(--main-medium-contrast-color) inset;
}



.widthControlContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.widthControl {
    width: 100%;
    max-width: 960px;
    padding: 0 1em;
}

@media (max-width: 800px) {
    .widthControl {
        padding: 0;
    }
}

.adaptiveParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.adaptiveChild {
    flex: 1;
    min-width: 18em;
}

.adaptiveParentReverse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

mat-icon {
    height: auto !important;
    width: auto !important;

}

.iconButton {
    cursor: pointer;
}

.borderRadius {
    border-radius: var(--border-radius);
}



*:focus {
    outline: none;
}

input {

    font-family: 'Inter';
    color: var(--main-contrast-color);

    background: #3a3a3a;
    padding: 1em 1.5em;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-weight: 400;
    transition: 200ms ease;
    border-color: var(--main-medium-contrast-color);

    box-shadow: var(--shadow);
}

input:hover {
    box-shadow: var(--hover-outline);
}

input:focus {
    border-color: var(--accent-color);
    box-shadow: var(--focus-outline);
}

a{
    color: var(--main-contrast-color-transparent);
}