.button {
    cursor: pointer;
    display: block;
    
    color: var(--main-contrast-color);
}
.accent{
    
    font-weight: 500;
    background: var(--accent-color);
    padding: 1em 1.5em;

    
    text-align: center;

    font-family: 'NueMachina';
    color: var(--main-contrast-color);

    padding: 1em 1.5em;
    border-radius: 0.4em;
    /* border: 2px solid transparent; */

    transition: 200ms ease;
    /* border-color: var(--main-medium-contrast-color); */

    box-shadow: 0px 4px 8px 0px #04254433, 0px 4px 16px 0px #106EBE80, inset 0 1.5px 0 0 rgb(255 255 255 / 20%);

}

.accent:hover {
    box-shadow: 0 0 0 4px #106EBE40,  0px 4px 8px 0px #04254433, 0px 4px 16px 0px #106EBE80, inset 0 1.5px 0 0 rgb(255 255 255 / 20%);
}

.accent:active {
    transform: scale(0.95);
}