.image {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* z-index:-1; */
    position: relative;
}

.image {
    background-color: var(--base);
    position: relative;
}

.image img {
    filter: grayscale(100%) contrast(1) blur(var(--blur));
    mix-blend-mode: var(--bg-blend);
    opacity: var(--opacity);
    position: relative;
}

.image::before {
    background-color: var(--foreground);
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    mix-blend-mode: var(--fg-blend);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}