.image {
    width: 100%;
    height: 100%;    
    background-color: var(--base);
    position: relative;
}
.cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    display: block;
    /* z-index:-1; */
    filter: grayscale(100%) contrast(1);
    mix-blend-mode: var(--bg-blend);
    position: relative;
}


.image::before {
    background-color: var(--foreground);
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    mix-blend-mode: var(--fg-blend);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}